

input[type="button"],
input[type="submit"],
input[type="image"], button {
    color: #fff;
    background: url(../img/lines-bg-2.png) -4px -4px no-repeat #2d2d2d; /* download image that need to active */
    border: 1px solid #2d2d2d;
    padding: 0 .6em;
}

input[type="submit"]:hover, button:hover {
    background-color: #3a3739;
    border-color: #3a3739;
}
input[type="submit"]:active, button:active {
    background: url(../img/lines-bg-2.png) center bottom repeat-x #666;
}

input[type="text"],
input[type="password"],
input[type="search"],
select, textarea {
    border: 1px solid;
    border-color: #777 #ccc #ccc;
    background: #fff;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
textarea:hover {

}
