@charset "UTF-8";
/*
    SWICC

    Deveolped by Dmytro Nechepurenko. Distributed by GNU GPL v.2.
    Based on work André Griffin (http://andregriffin.com).
    Some parts are based on works Stefan Nitzsche, Yahoo UI, Josh Hopkins and others.

========================================================================
[Table of contents]

 0.Reset
 1.Basic
   -Lists and tables
   -Forms and inputs
   -Specific
   -Fixes for basic
 2.Layout
 3.Main
 4.Sidebars
 5.Header
 6.Navigation
 7.Messages
 8.Nodes
 9.Comments
10.Blocks
11.Footer
12.Views
13.Media Queries
14.Other
   -Css support
   -Load overlay

========================================================================
*/

/* ======================== 0.RESET ================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* remove this because real user don`t format this way */
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

/* ========================= 1.BASIC ================================ */

/* fonts first  */
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light/opensans-light-webfont.svg#OpenSansLight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

/* end fonts */

body {
    background-color: #fff;
    color: #3a3739;
    font: normal normal 87.5%/1.714em 'Open Sans', 'Segoe UI', 'Droid Sans', Tahoma, 'Liberation Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll; /* force scrollbar */
}

/* typography then */

h1, h2, .h1, .h2 {
    font: normal lighter 100%/1.286em 'Open Sans Light', 'DejaVu Sans UltraLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Segoe WPC Light', 'Segoe UI Light', 'Segoe UI', Arial, sans-serif;
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
}

h1, .h1 {
    font-size: 4em;
    margin: .286em 0 .643em;
}

h1+p {
    margin-top: 1.5em;
}

h2, .h2 {
    font-size: 2em;
    margin: .9em 0 .643em;
}

h3, .h3 {
    font-size: 1.429em;
    line-height: 1.429em;
    font-weight: bold;
    margin: 1.3em 0 .7em;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.429em;
    margin: 1.5em 0 .429em;
}

h4, .h4 {
    font-size: 1.2em;
    font-style: italic;
    margin: 1.3em 0 .7em;
}

h6, .h6 {
    font-weight: normal;
    font-style: italic;
}

p, pre, blockquote, table {
    margin: 0 0 1em 0;
}

p {
    font-size: 1em;
    line-height: 1.714em;
}

/*p:before {
    content: "¶";
    color: #c10000;
}*/

blockquote {
    margin-left: 4.2em;
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

em, i, cite {
    font-style: italic;
}

/* NOTE: link pseudoclases order -- link, visited, hover, active */

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover, a:active {
    color: #c10000;
    outline: none;
}

/* ======================== lists and tables ======================== */

ul, ol, dl {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}

ul li {
    list-style: disc outside;
}

ol li {
    list-style: decimal outside;
}

ul li,
ol li {
    margin: .357em 0 .357em 1.5em;
}

dl dt, dfn {
    font-weight: bold;
    font-style: italic;
}

dl dd {
    margin-left: 1.5em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, tr, td {
    vertical-align: middle;
    padding: 0 .429em;
}

thead tr td, th {
    font-weight: bold;
}

caption {
    font-size: 1.429em;
    padding-bottom: .429em;
    border-bottom: 1px solid #ccc;
}

th {
    border-right: 1px solid #ccc;
    border-bottom: inherit; /* override default Drupal system style */
}

thead tr {
    border-bottom: 1px solid #ccc;
}

tbody {
    border-top: 1px solid #ccc;
}

tbody tr {
    border-bottom: 1px solid #e3e3e3;
}

tfoot {
    text-align: center;
    font-style: italic;
    border-top: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

td[colspan] {
    text-align: center;
}

/* Drupal specific */

ul li.leaf {
    list-style: square none outside;
}

.sticky-header th, .sticky-table th {
    border-bottom: 3px solid #ccc;
    padding-right: 1em;
    text-align: left;
}

/* ======================= forms and inputs ========================= */

form {
}

input, select {
    font: inherit;
}

input[type="button"],
input[type="submit"],
input[type="image"], button {
    cursor: pointer; /* when button hover not so different in look - need this */
}

input[type="text"],
input[type="password"],
textarea {
    padding: 0 .2em;
}

input[type="radio"] {
    vertical-align: text-top;
}

input[type="checkbox"] {
    vertical-align: baseline;
}

select {
}

optgroup {
    font-weight: normal;
    background: #ccc;
}

textarea {
    font: normal normal 1em/1.429em Arial, Helvetica, FreeSans, 'Liberation Sans', sans-serif;
    color: #3a3739;
    padding: .2em .429em;
}

label {
    display: block;
    font-weight: normal;
}

fieldset {
    border: 1px solid #ccc;
    margin: 0 0 1.4375em;
    padding: 1.5em;
}

legend {
    padding: 0 .3em;
    background: #fff;
}

/* Drupal specific */

.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 1px solid #c10000;
}

/* ============================ specific ============================ */

/* science */

abbr, acronym {
    border-bottom: 1px dotted #3a3739;
    cursor: help;
}

abbr[title] {
    border-bottom: 1px dotted #888;
    cursor: help;
}

a abbr {
    cursor: pointer !important;
}

/* computer science */

pre, code, tt, samp, kbd {
    font: normal normal 1em/1.5em "Courier New", "Courier", FreeMono, monospace;
}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    background-color: #3a3739;
    color: #ccc;
    padding: .643em 0 .643em 2em;
    width: 94%;
    overflow-x: auto;
}

code {
    color: green;
}

samp {
    color: maroon;
}

code, samp {
    background: url(../img/lines-bg.png) #f1f1f1;
}

kbd {
    font-size: 1em;
    background: #3A3739;
    color: #fff;
    padding: .2em .3em;
    white-space: nowrap;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* other */

del {
    text-decoration: line-through;
}

ins {
    text-decoration: none;
    border-bottom: 1px dashed #3a3739;
}
/* non important - test change */
del:hover {
    background: url(../img/lines-bg.png) #f7dede;
}

ins:hover {
    background: url(../img/lines-bg.png) #deedb7;
}
/* end test */

sup {
    vertical-align:text-top;
}

sub {
    vertical-align:text-bottom;
}

mark {
    background-color: #ff9;
    color: #000;
}

hr {
    background: #666;
    border: none;
    clear: both;
    float: none;
    height: 1px;
    margin: 0 0 1.4375em;
    width: 100%;
}

u {
    text-decoration: none; /* remove textdecoration <u> for save <a> style, if <a> not mark by color */
}

figure {
    margin: 0;
}

img,
object,
embed,
video {
    max-width: 100%; /* Fluid images */
    _width: 100%
}

/* ========================== fixes for basic ======================= */

html {
    -webkit-text-size-adjust: none; /* disable automatic correction in mobile Safari */
}

img {
    -ms-interpolation-mode: bicubic; /* improve IE's resizing of images */
    position: relative; /* Chrome overline around img in a; ie5-6 floating image dissapear fix */
}

a img {
    border: none; /* fix link border */
}

svg:not(:root) {
    overflow: hidden; /* correct IE9 overflow */
}

input[type="search"] {
    -webkit-appearance: none; /* fix webKit (x)-button and resistance of stylization */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ========================== 2.LAYOUT ============================== */

#header,
#main-container {
    margin: 0 auto;
    padding: 0 .857em;
    max-width: 940px;
    position: relative;
}

/* ============================ 3.MAIN ============================== */

/* 1 column: global values*/

#main {
    margin-bottom: 2em;
    padding: 0;
}

/* 3 columns */

body.two-sidebars #main {
    float: left;
    margin: 0 0 0 25.5%; /* 240px */
    width: 48.9%; /* 460px */
}

/* 2 columns: sidebar-first */

body.sidebar-first #main {
    float: right;
    width: 74.4%; /* 700px  */
}

/* 2 columns: sidebar-second */

body.sidebar-second #main {
    float: left;
    margin: 0;
    padding: 0;
    width: 74.4%; /* 700px */
}

/* Maintance page */

body.maintenance-page #main {
    padding: 0 .857em;
    position: relative;
}

/* =========================== 4.SIDEBARS =========================== */

/* 3 columns: sidebar-first */

body.two-sidebars #sidebar-first {
    float: left;
    margin: 0 0 0 -74.4%; /* 700px  */
    padding: 4em 0 0;
    width: 23.4%; /* 220px */
}

/* 3 columns: sidebar-second */

body.two-sidebars #sidebar-second {
    float: right;
    margin: 0;
    padding: 4em 0 0;
    width: 23.4%; /* 220px */
}

/* 2 columns: sidebar-first */

body.sidebar-first #sidebar-first {
    float: left;
    margin: 0;
    padding: 1em 0 0;
    width: 23.4%; /* 220px */
}

/* 2 columns: sidebar-second */

body.sidebar-second #sidebar-second {
    float: right;
    margin: 0;
    padding: 1em 0 0;
    width: 23.4%; /* 220px */
}

.sidebar h2 {
    font-size: 1.5em;
    margin: 0 0 .429em;
}

.sidebar .block {
    padding: 1px 0;
}

/* ============================ 5.HEADER ============================ */

#header #logo {
    float: left;
    margin: .9em 1em .1em 0;
}

#header #site-name-slogan {
    float: left;
    margin: 0 0 .1em;
}

#header #site-name {
    font-size: 5em;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
}

#header #site-name a {
    color: #3a3739;
    text-decoration: none;
}

#header #site-slogan {
    margin: 0;
}

/* ========================== 6.NAVIGATION =========================  */

#navigation {
    float: left;
    margin: 4em 0 0 2em;
    padding: 0;
}

#navigation #block-system-main-menu {
    margin-bottom: 0;
}

#navigation ul.menu {
    clear: both;
    margin: 0;
    padding: 0;
}

#navigation ul.menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    *display: inline;
    zoom: 1;
}

#navigation ul.menu li a {
    display: block;
    margin: 0 1em 0 0;
    color: #3a3739;
    text-decoration: none;

    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

#navigation ul.menu li a:hover {
    color: #c20000;
}

#navigation ul.menu li.active-trail a {
    color: #c20000;
}

#navigation ul#secondary-menu {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation ul#secondary-menu li {
    float: left;
    margin: 0;
    padding: 0;
}

#navigation ul#secondary-menu li a {
    display: block;
    padding: 0 2em 0 0;
}

.breadcrumb {
}

#skip-link {
    position: absolute;
}

/* menus and item lists */

.item-list ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

.item-list ul li {
    margin: 0;
    padding: 0;
}

ul.menu li {
    margin: 0;
    padding: 0;
}

ul.inline {
    clear: both;
}

ul.inline li {
    margin: 0;
    padding: 0 1em 0 0;
}

/* admin tabs */

.tabs-wrapper {
    border-bottom: 1px solid #3a3739;
    margin: 0 0 1.4375em;
}

ul.primary {
    border: none;
    margin: 0;
    padding: 0;
}

ul.primary li {
    margin: 0;
}

ul.primary li a {
    background: none;
    border: none;
    display: block;
    float: left;
    line-height: 1.5em;
    margin: 0;
    padding: .3em 1em;
}

ul.primary li a:hover, ul.primary li a.active {
    background: #3a3739;
    border: none;
    color: #fff;
}

ul.primary li a:hover {
    background: #666;
    text-decoration: none;
}

ul.secondary {
    background: #3a3739;
    border-bottom: none;
    clear: both;
    margin: 0;
    padding: 0;
}

ul.secondary li {
    border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
    border: none;
    color: #ccc;
    display: block;
    float: left;
    line-height: 1.5em;
    padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
    background: #888;
    color: #fff;
    text-decoration: none;
}

ul.secondary a.active {
    border-bottom: none;
}

/* =========================== 7.MESSAGES =========================== */

#messages-wrapper {
    background-color: #ffff99;
}

div.messages {
    padding: .429em 3em;
    width: 940px;
    margin: 0 auto;
    background: inherit;
}

div.messages ul {
    margin: 0;
}

div.messages ul li {
    margin: .429em 0;
}

div.status {
    color: #65BE00;
    border-color: transparent;
}

div.error,
div.warning {
    color: inherit;
    border-color: transparent;
}

#messages-wrapper a.closer {
    margin: .429em 2em .429em 1em;
    text-decoration: none;
}

#messages-wrapper a.closer + a.closer {
    display: none;
}

/* ============================= 8.NODES ============================ */

.node {
    margin-bottom: 1.5em;
}

#page-title {
    color: #c10000;
    margin-top: 0;
}

.content .field-name-body img {
    margin: 0 .643em .429em 0;
}

/* tags */

.field-name-field-tags {
    margin: 0 0 1.5em;
}

.field-name-field-tags .field-item {
    margin: 0 1em 0 0;
}

.field-name-field-tags div {
    display: inline;
}

/* profile */

.profile {
    margin: 1.5em 0;
}

.profile h3 {
    border: none;
}

.profile dt {
    margin-bottom: 0;
}

.profile dd {
    margin-bottom: 1.5em;
}

.password-parent {
    width: 36em;
}

/* submited */

.submitted {
    display: block;
    font-size: .928em;
}

/* ============================ 9.COMMENTS ========================== */

#comments {
    clear: both;
    margin-top: 1.5em;
}

.comment {
    margin-bottom: 1.5em;
}

.comment .new {
    color: red;
    text-transform: capitalize;
    margin-left: 1em;
}

/* ============================== 10.BLOCKS ========================= */

.block {
    margin-bottom: 1.357em;
}

/* ============================= 11.FOOTER ========================== */

#footer {
    clear: both;
    padding: 1em 0 0;
    position: relative;
    font-size: .928em;
    color: #444;
    border-top: 1px solid #a3a4a3;
}

.region-footer {
    width: 100%;
    text-align: center;
    clear: both;
}

.region-footerleft, .region-footerright {
    width: 48.8%;
}

.region-footerleft {
    float: left;
    text-align: left;
}

.region-footerright {
    float: right;
    text-align: right;
}

#footer .block {
    margin-bottom: .429em;
}

.footerleft p,
.footerright p {
    margin: 0;
}

#footer a.feed-icon {
    position: absolute;
    right: 0;
    top: 1.6667em;
}

/* ============================ 12.VIEWS ============================ */

.view .views-row {
    position: relative;
}

.views-field-edit-node a {
    font-size: .857em;
    background: red;
    color: #fff;
    text-decoration: none;
    padding: .2em;
}

.views-field-edit-node a:hover {
    background: #c10000;
}

/* ========================== 14.MEDIA QUERIES ====================== */

@media all and (orientation:portrait) {}

@media all and (orientation:landscape) {}

@media screen and (min-width:1025px) {
    /* Desktop */
    /* ========================== layout ============================ */

    /* end @media*/
}

@media screen (max-width:1024px) {
    /* tablet landscape */
    /* ========================== layout ============================ */

    /* by default inherit from PC */

    /* end @media*/
}

@media screen and (max-width:768px) {
    /* tablet portraite */

    /* ========================== main ============================== */

    body.two-sidebars #main,
    body.sidebar-first #main,
    body.sidebar-second #main {
        margin: 0 0 2em;
        padding: 0;
        width: 100%;
        clear: both;
    }

    /* ========================= sidebars =========================== */

    body.sidebar-first #sidebar-first,
    body.sidebar-second #sidebar-second {
        width: 100%;
    }

    body.two-sidebars #sidebar-first,
    body.two-sidebars #sidebar-second {
        width: 48%;
        margin: 0;
    }

    .sidebar .block {
        background: #ddd;
    }

    .sidebar h2 {
        margin: .8em 0 .429em;
    }

    /* end @media*/
}

@media screen and (max-width:600px) {
    /* small tablet */
    /* ============================ basic =========================== */

    #page-title {
        text-align: center;
    }

    /* ========================== navigation ======================== */

    #navigation {
        margin: 0;
        padding: .5em 0;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }

    #navigation ul.menu {
        text-align: center;
    }

    /* end @media*/
}

@media screen and (max-width:480px) {
    /* Smart Phone landscape*/

    /* =========================== basic ============================ */

    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="button"],
    input[type="submit"],
    input[type="image"],
    button,
    select {
        width: 100%;
    }

    textarea {
        width: 95%;
    }

    /* ========================== layout ============================ */

    body.two-sidebars #main,
    body.sidebar-first #main,
    body.sidebar-second #main {
        margin: 0 0 2em;
        padding: 0;
        width: 100%;
        clear: both;
    }

    /* ========================= sidebars =========================== */

    body.two-sidebars #sidebar-first,
    body.two-sidebars #sidebar-second,
    body.sidebar-first #sidebar-first,
    body.sidebar-second #sidebar-second {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .sidebar .block {
        background: #eee;
    }

    /* =========================== messages ========================= */

    #messages-wrapper { /* перекрытие border навигации */
        position: relative;
        top: -1px;
    }

    /* ========================== footer ============================ */

    .region-footerleft, .region-footerright {
        margin: 0;
        float: none;
        width: 100%;
        text-align: center;
    }

    /* end @media*/
}

@media screen and (max-width:320px) {
    /* Smart Phone portraite*/

    /* by default inherit from Smart Phone landskape */

    /* end @media*/
}


/*
  Media Print
*/
@media print {
    /*first some general resets */
    @page {
        margin: 1.5cm;
    }

    * {
        background: transparent !important;
        color: #000 !important;
        text-shadow: none !important;
        filter:none !important;
        -ms-filter: none !important
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    a, a:visited {
        color: #444 !important;
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";  /* Don't print links for images, javascript or internal links */
    }

    pre, blockquote {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* Repeat header row at top of each printed page */
        page-break-inside: avoid;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {max-width: 100% !important; }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /* hide elements that are unnecessary to print */
    #sidebar-first,
    #sidebar-second {
        display: none !important;
    }

    body.sidebar-first #main {
        width: 100%;
    }

    /* some cosmetic changes */

    #header {
        padding-top: 0;
    }

    pre {
        border: 1px solid #ccc;
        border-style: solid none;
        color: #000;
    }

    /* end media print */
}

/* =========================== 15.OTHER ================================ */

/* CSS support
 *
 * Built-in classes:
 * .clearfix                            | contain floats
 * .element-invisible                   | hide element visually
 * .element-invisible.element-focusable | allow element to be focusable when navigated to via keyboard
 * .element-hidden                      | hide visually and from screenreaders
*/

/* clear floats */
.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clear {
    display: inline-block;
}

/* display block */
.display-block {
    display: block;
}

/*
  Grid
 */

.grid {
    background-image: url(../img/12_col.gif);
}

/* 12 Columns
 * body=width-940px
 *
 * space = 2.4%
 *
 *  1 -- 6.2%
 *  2 -- 14.7
 *  3 -- 23.2%
 *  4 -- 31.8%
 *  5 -- 40.3%
 *  6 -- 48.8%
 *
 *  7 -- 57.3%
 *  8 -- 65.8%
 *  9 -- 74.3%
 * 10 -- 82.8%
 * 11 -- 91.3%
 * 12 -- 99.8%
*/

#grid-wrapper div {
    height: 3em;
    margin: 1em 2.4% 1em 0;
    background: #ddd;
    float: left;
}

#grid-wrapper .last {
    margin-right: 0;
}
